@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");
$roboto: "Roboto", sans-serif;
$lato: "Lato", sans-serif;
$colors: (
  abBlack: #1b1b1b,
  abWhite: #fff,
);
.overflowXauto {
  overflow-x: auto;
}
.abLightGrey {
  color: map-get($colors, abLightGrey);
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;
}

@media screen and (max-width: 767px) {
  .mpl-0 {
    padding-left: 0rem !important;
  }
  .mpr-0 {
    padding-right: 0rem !important;
  }
  .mmb-4 {
    margin-bottom: 0.5rem !important;
  }
  .mbl-0 {
    border-left: 0rem !important;
  }
  .mbr-0 {
    border-right: 0rem !important;
  }
}
